body {
    font-family: 'Segoe UI', sans-serif;
    background-color: #f9f9f9;
    color: #333;
    text-align: center;
    padding-top: 60px;
}


.wardrobe-gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.wardrobe-item {
    margin: 10px;
    padding: 10px;
    text-align: center;
    border: 1px solid #ccc;
    border-radius: 8px;
}

.wardrobe-item img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 5px;
}
